body {
	margin: 0;
	padding: 0;
	background-color: #171f25;
}

.container {
	margin: 0 auto;
	margin-top: 100px;
	width: 400px;
	height: 450px;
	background-color: #fff;
	border-radius: 10px;
	padding: 40px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
	margin: 0;
	margin-bottom: 30px;
	text-align: center;
	font-size: 24px;
	color: #444;
}

label {
	display: block;
	margin-bottom: 8px;
	color: #777;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
	color: #444;
}

button[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.google-btn {
	background-color: #fff;
	color: #444;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.google-btn img {
	margin-right: 10px;
}

.separator {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.separator span {
	color: #777;
	margin: 0 10px;
}
