/* Estilos globais para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #171f25;
}
/* Estilos CSS para os menus */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171f25;
    color: #000;
    padding: 10px;
}
nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background-color: #fff;
    color: #171f25;
}
/* Estilos para o cabeçalho da página */
header {
    background-color: #171f25;
    color: #fff;
    padding: 0px;
}

header h1 {
    margin: 0;
    font-size: 6px;
}

header p {
    margin: 0;
    font-size: 1px;
}

/* Estilos para o menu de navegação */
nav {
    display: flow-root;
    justify-content: space-between;
    align-items: baseline;
    background-color: #171f25;
    color: #000;
    padding: 18px;
}

nav a {
    color: #b8c9d4;
    text-decoration: none;
    padding: 17px;
}

nav a:hover {
    background-color: #dcdcdc;
    color: #171f25;
}

/* Estilos para as seções da página */
section {
    padding: 20px;
}

section h2 {
    margin: 0;
    font-size: 24px;
}

section p {
    margin: 0;
    font-size: 6px;
}

/* Estilos para os botões */
button {

    background-color: #171f25;
    color: #b8c9d4;
    border: none;
    padding: 7px 2px;
    font-size: 1px;
    cursor: pointer;
}

button:hover {
    background-color: #b8c9d4;
    color: #171f25;
}